<div class="d-flex justify-content-end header-custom">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4 logo-title">
      SAN Bank
    </span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="accounts" class="nav-link">Account</a></li>
    <li class="nav-item dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false" style="color: #000000;">
        Transaction
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="transfer">Transfer</a></li>
      </ul>
    </li>
    <li class="nav-item"><a routerLink="statement" class="nav-link">Statement</a></li>
    <li class="nav-item"><a routerLink='' class="nav-link active" aria-current="page" style="color: #838689">Log out</a></li>
  </ul>
</div>

