<footer>
  <div class="row">
    <div class="col-12 col-md">
    </div>
    <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
      <span class="fs-4 logo-title">
        SANBank
      </span>
      <small class="d-block mb-3">&copy; 2023</small>
    </div>
    <div class="col-6 col-md" id="contact-us">
      <h5><strong>Contacts</strong></h5>
      <ul class="list-unstyled text-small">
        <li>
          <p><strong>Address: </strong></p>
        </li>
        <li>
          <p>299 Street SZB 10/8, SANBank KL</p>
        </li>
        <li>
          <p><strong>Phone Number:</strong></p>
        </li>
        <li>
          <p>012345678</p>
        </li>
      </ul>
    </div>
  </div>
  </footer>

 