<section class="h-100 h-custom" style="background-color: #FFC83D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="assets/img/transfer.svg"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">

          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Transfer</h3>
            <p>Kindly fill in the details to make a transfer to other bank account</p>
            <form (ngSubmit)="transfer()">

              <div class="form-outline mb-4">
                <label class="form-label">From</label>
                <input type="text" placeholder="Enter source account ID" name="sourceAccountId" required id="sourceAccountId" [(ngModel)]="sourceAccountId" required class="form-control">
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">To</label>
                <input type="text" placeholder="Enter target account ID" name="targetAccountId" required id="targetAccountId" [(ngModel)]="targetAccountId" required class="form-control">
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Amount (MYR)</label>
                <input type="text" placeholder="Enter amount" required id="amount" name="amount" [(ngModel)]="amount" required class="form-control">
              </div>

            <button type="submit" class="btn btn-outline-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
