::ng-deep :root {
  --yellow: #FFC83D;
  --black: #000000;
  --white: #ffffff;
  --black: #000000;
}

.header-custom {
  background-color: var(--pastel-green);
  padding: 10px;
}

.logo-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.card-link {
  color: black;
}

.nav-pills .nav-link {
  color: var(--pastel-red);
}

.nav-link.active {
  background-color: var(--pastel-red) !important;
  color: white !important;
}

.badge {
  font-size: 0.6em;
}

