<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <app-header></app-header>
    <main>
      <div class="home">
        <div class="p-5 mb-4  bg-light rounded">
            <div class="container-fluid">
              <h3 class="display-5 fw-bold">Welcome to SANBank!</h3>
              <img class="card-img-top" src="assets/img/happy.svg" style="width:400px; height:550px"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <img class="card-img-top" src="assets/img/welcomecats.svg" style="width:400px; height:550px"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <img class="card-img-top" src="assets/img/support.svg" style="width:400px; height:550px">
              <p><b>Hi! Discover ways to manage your money beter. We are the fifth largest, fully-integrated financial services group in Malaysia. We are ready to partner with you in your quest to grow your wealth and financial independence.</b></p>
              <a style="color: #FFC83D; text-decoration: none;" ></a>
            </div>
          </div>
      </div>
    </main>
  <app-footer></app-footer>
  </body>
</html>
